* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 500px;
}

.athletes {
  padding: 30px 35px 0;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 40px 30px;
  justify-items: center;
  place-content: center;
}

.athlete {
  text-align: center;

  transition: transform 1s ease, background-color 0s;
  border-radius: 10px;
  padding: 10px
 }

.athlete:hover {
  background-color: #EEEEEE;
  border-radius: 10px;
  transform: scale(1.2);
  z-index: 10;
}

.athlete__photo {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.athlete__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  transition: border-radius 1s ease;
}

.athlete:hover .athlete__image {
  border-radius: 30%;
}

.athlete__rank {
  position: absolute;
  top: 84px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;

  color: #8B0000;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

.athlete__name {
  display: block;
  margin-top: 8px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #2F4F4F;

}

.athlete__extra {
  opacity: 0;
  visibility: hidden;

  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #000;
  margin-top: 9px;

}

.athlete:hover .athlete__extra {
  opacity: 1;
  visibility: visible;
  padding-bottom: 16px;
}

@media (min-width: 1000px) {
  .athletes {
    grid-template-columns: repeat(4, 200px);
  }
}